<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193294847611-9kn8uu67lgmrorftugsbf8agjpgrranq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193294847611-9kn8uu67lgmrorftugsbf8agjpgrranq</string>
	<key>API_KEY</key>
	<string>AIzaSyBGz4KEsLniZpNsf6Fjrj5vBoCBJQWnh9A</string>
	<key>GCM_SENDER_ID</key>
	<string>193294847611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uponex.MathAppTwo</string>
	<key>PROJECT_ID</key>
	<string>mathapp-85e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>mathapp-85e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:193294847611:ios:f0462454c38c8987</string>
	<key>DATABASE_URL</key>
	<string>https://mathapp-85e3c.firebaseio.com</string>
</dict>
</plist>
